.mapboxgl-ctrl-top-left{
  left:259px;
  z-index: 999999;
}
.exitDraw{
  background-image: url("../Images/exit-black.png");
}
.styleDraw{
  background-image: url("../Images/style.png");
  background-size: 18px;
}
.styleDraw.disable{
  cursor: auto;
  background-color: #e0e0e0;
  // background: grey url("../Images/style.png");
  // background-repeat: no-repeat;
  // background-size: 18px;
}
.styleDraw.disable:hover{
  background-color: #e0e0e0;
}

#stylePopup{
  position: absolute;
  display: flex;
  ul{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: rgba(128, 128, 128, 0.33) 4px 5px 15px;
    border-radius: 5px;
    left: 309px;
    margin-left: 3px;
    margin-top:83px;
    padding:0px 10px 18px 10px;
    list-style: none;
    li{
      width: 250px;
      height: 31px;
      display: flex;
      h4{
        font-size: 0.82em;
      }
      input{
        margin-top: 16px;
        margin-left: 10px;
      }
      input[type="color"]{
        width: 26px;
        height: 17px;
        right: 0;
        position: absolute;
        margin-right: 132px;
        border-color:transparent!important;
        padding:0!important;
      }
    }
  }
  .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid rgba(255,255,255,0.86);
  margin-top: 136px;
  margin-left: 302px;
}

}
