.mapboxgl-ctrl-top-left{
  right: 6px;
  top:39px;
  left:inherit;
}
.exitDraw{
  background-image: url("../Images/exit-black.png");
}
.styleDraw{
  background-image: url("../Images/style.png");
}

#stylePopup{
  background-color: rgba(255, 255, 255, 0.86);
  box-shadow: rgba(128, 128, 128, 0.33) 4px 5px 15px;
  position: absolute;
  right: 0;
  margin-right: 49px;
  margin-top:83px;

  ul{
    margin: 0;
    padding:10px;
    list-style: none;
    li{
      display: flex;
      h4{
        font-size: 0.82em;
      }
      input{
        margin-top: 10px;
        margin-left: 10px;
      }
      input[type="color"]{
        width: 20px;
        right: 0;
        position: absolute;
        margin-right: 113px;
      }
    }
  }

}
