//color variables:
$sidemenuListColor: rgba(255, 255, 255, 0.88);
$sidemenuListHover: rgba(125, 125, 125, 0.14);
// $menuBackgroundColor:rgba(255, 255, 255, 0.83);
$menuBackgroundColor:rgba(255, 255, 255, 0.88);
// $bobleColor: white;
$bobleColor: rgba(87, 160, 51, 0.78);
$activeToolBtnColor: rgb(214, 214, 214);
$textColor: #3f3f3f;
$capabilityButtonColor:#f4f4f4;
$capabilityBtnBorder: 1px solid rgba(150, 150, 150, 0.37);

.tool-button{
  background-size: 24px 24px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  color: $textColor;
  background-position: 12px 12px;
  height:48px;
  padding-left:48px;
  width:260px;
  text-align: -webkit-match-parent;
  // background-color: rgba(42, 42, 42, 0.71);
  background-color: transparent;;
  background-repeat: no-repeat;
  border: 0 none;
  cursor: pointer;
}


.tool-button:hover{
  background-color: $sidemenuListHover;
}
.tool-button:active{
  background-color: $activeToolBtnColor;
}

.gfi-sidenavOpen{
  width:240px!important;
}


.sideBarList{
  padding: 0px;
  list-style-type: none;
  border-top:$capabilityBtnBorder;
}
.subSideBarList{
  display: none;
  li{
    margin: 0px;
    height:30px;
    padding:0px;
  }
}

.featureListElement{
  height:30px;
  border-bottom:$capabilityBtnBorder;
  padding-left: 10px;
  padding-right: 0px;
  font: 13.3333px Arial;
  .check{
    display: inline !important;
  }
  span{
    width:140px;
    margin-left: 4px;
    float:left;
    height:24px;
    padding-top: 6px;
  }

  .backgrImage{
    width:15px;
    float:left;
    margin:6px;
  }
  .check{
    height:20px;
    width:20px;
    margin-top:4px;
    border:none;
    background: none;
    background-image: url("../images/checkbox-black.png");
    background-size: 20px;
    opacity: 0.6;
    cursor:pointer;
    float:left;
  }
  .checked{
    background-image: url("../images/checkbox-checked-black.png");
  }
  .featurePointer{
    background-image:url("../images/hoyrepil-svart.png")!important;
    opacity: 0.6;
  }
  .featurePointer.pointer-down{
    background-image:url("../images/nedpil-svart.png")!important;
  }
}
.subFeatureListElement {
  // height:25px;
  padding:0px;
  padding-left: 15px;
  margin:0px;
  border-bottom:1px solid #565252;
  height: 30px;
  background-color: rgba(42,42,42,0.50);
  span{
    width:190px;
  }
  .check{
    display: inline;
  }

  // li{
  //   height: 30px;
  //   border-bottom:1px solid #565252;
  // }
}
#featureHeader{
  margin-left: 27px;
  font-size: 20px;
  color: #606060;
  font-family: calibri;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 32px;
  text-shadow:1px 1px 7px rgba(128, 128, 128, 0.11);
}

.udefinert{
  background-color: rgb(60, 60, 60);
  color:rgb(125, 125, 125);
  cursor: default;
  margin:0px;
  .check{
    visibility: hidden;
  }
}

.visMeny{
  display:list-item;
}

.gfiInfo{
  font-family:calibri;
  font-size:14px;
  margin:0px;
  color:black;
  background-color:rgb(224, 224, 224);
  padding-bottom: 7px;
  a{
    font-weight: 900;
    text-decoration: none;
    color: #5e9c3c;
  }
  .infoDescription{
    font-weight:bold;
  }
  .infoValue{
    color: #484848;
  }
  li{
    background-color: transparent;
    padding-left: 13px;
    padding-top:3px;
  }
}
.activeInfoBox{
  // background-color: rgba(210, 210, 210, 0.81);
  // color:rgba(19, 19, 19, 0.72);
  // font-weight:bold;
  // font-size: 15px;
  font-size: 13.5px;
}


.colorImage{
  width:12px;
  height:12px;
  border-radius: 6px;
  float:left;
  margin:7px;
  opacity: 0;
}
.subTitle{
  color:#bbb4b4;
  margin: 5px;
}


.featurePointer{
  background-size: 20px;
  background-position: 8px 3px;
  width: 40px;
  height: 30px;
  background-repeat: no-repeat;
  float: left;
}

#infoSidebar{
  width:0px;
  float:right;
  z-index: 10;
  height:100vh;
  background-color: $menuBackgroundColor;
  position: fixed;
  right:0px;
  overflow-x: hidden;
  transition: 0.5s;
  color:black;
  box-shadow: 0px 1px 9px grey;
  .boble{
    color:white;
    box-shadow: 0px 1px 18px rgba(34, 34, 34, 0.23);
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: $bobleColor;
  }
  .otherInfo{
    background-color: rgba(0, 0, 0, 0.64);
    color: white;
    font-size: 12px;
    padding:14px 12px 12px 27px;
    #koord{
      font-size: 15px;
      margin-top: 10px;
    }
    li{
      padding-top: 4px;
      list-style: none;
    }
    #heightAboveSea{
    }

    span{
      font-size: 12px;
    }
  }
  #markerPos{
    width:30px;
    margin-right: 2px;
    margin-left: 7px;
    height:45px;
    float:left;
    background: url("../images/markerGFIMenu.png");
    background-repeat: no-repeat;;
    background-size: 23px;
    margin-top: -1px;
  }
  #adresse{
    width:100%;
    padding-left: 0px;
    list-style-type: none;
    font-size: 13px;
  }
  #punktAdresse{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
  }
}

#closeInfoSidebar{
  border: none;
  background: transparent;
  background-image: url("../images/doubleLeft.png");
  background-size: 21px, 21px;
  height: 21px;
  width: 20px;
  color: white;
  float: left;
  margin-left: 2px;
  cursor: pointer;
  margin-top: 1px;
}
