body{
  margin:0;
  font-family: 'Avenir Next W01',"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
#map{
  width: 100%;
  height: 100vh;
  position: absolute;
}
.modal-shadow{
  display: none;
  position: fixed;
  _position: absolute;
  height: 100vh;
  width: 100%;
  background: #000;
  z-index: 1000;
  opacity: 0.4;
}
#modal-info-content{
  z-index: 1001;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 45%;
  height: auto;
  padding-bottom: 24px;
  box-shadow: 0 6px 48px rgba(0, 0, 0, 0.6);
  background-color: #f6f6f6;
  max-width: 500px;
  min-width: 500px;
  max-height: 90%;
  overflow: auto;
  display: none;
  #info-content{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 14px;
  }
  #about-logo{
    margin-top: 48px;
    margin-bottom: 12px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  #about-appname{
    font-size: 18px;
  }
  a{
        color: #51a026;
  }
  .about-gap{
    display: block;
    height: 24px;
  }
  .about-gap-big{
    display: block;
    height: 12px;
  }
  .about-close-button{
    position: relative;
    display: block;
    box-sizing: border-box;
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #51a026;
    height: 48px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 48px;
    font-size: 24px;
    cursor: pointer;
  }
  .about-thirdparty{
    opacity: 0.5;
    font-size: 12px;
  }
}

.distance-container {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

.distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.kommunekart-logo{
  position: absolute;
  box-sizing: border-box;
  height: 32px;
  bottom: 26px;
  left: 10px;
  padding: 12px;
  padding-top: 10px;
  background-color: rgba(255,255,255,0.7);
  cursor: -webkit-grab;
}

button:focus {
  outline:0;
}

#navbar-top{
  position: fixed;
  //background-color: rgba(62, 62, 62, 0.8);
  padding: 0;
  width: 100vw;
  background-image: linear-gradient(90deg, rgba(11,17,21,0.55) 30%, rgba(53, 54,55, 0.75)93%);
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.50);
}
#Kommunekart-tag{
  h3{
    font-weight: 700;
    color:white;
    margin:10px;
    float:left;
  }
  float:right;
  width:220px;
}

#choose-kommune-menu{
  width:40px;
  height:40px;
  float:left;
  margin-left:10px;
}

#menu-selector{
  list-style-type: none;
  background-color: rgba(33,34,34,0.72);
  margin-top: 42px;
  margin-left: -10px;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: auto;
  padding:0;

  .list-button{
    padding: 0px 6px;
    background-size: 24px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    color: white;
    background-position: 12px 12px;
    height:48px;
    padding-left:48px;
    width:260px;
    text-align: -webkit-match-parent;
    background-color: rgba(42, 42, 42, 0.71);
  }
  .activeListElement{
    opacity: 1;
  }
  .list-button:hover{
    background-color:rgb(60, 60, 60) ;
  }
  .list-button:active{
    background-color: rgb(115, 115, 115);
  }


  .list-button-del{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_017-dele-A-48px.png");
  }
  .list-button-avstand{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_027-maale-A-48px.png");
  }
  .list-button-print{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_016-utskrift-A-48px.png");
  }
  .list-button-draw{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_031-tegning-A-48px.png");
  }
  .list-button-navigation{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_011-beregn_rute-A-48px.png");
  }
  .list-button-hjelp{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_012-hjelp-A-48px.png");
  }
  .list-button-om{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_024-info-A-48px.png");
  }
}
.sidenavOpen{
  width:260px!important;
}
.menuInfoOpen{
  height:200px;
}

#norkartLogo{
  background: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat:no-repeat;
  margin-left: 96px;
  margin-top: 50px;
}

#baselayerselector{
  width: 260px;
  position: fixed;
  bottom: 0px;
}
.baselayer-button{
  display: block;
  float: left;
  height: 60px;
  width: 25%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid #858A90;
  background-size: calc(100% - 8px);
  background-position: 4px 4px;
  background-repeat: no-repeat;
  background-color: rgba(42,42,42,0.44);
  color:white;
}
.baselayer-button:hover{
  background-color:rgb(60, 60, 60) ;
}
.baselayer-button.selected{
  background-color: #E8E8E8;
  color:#2A2A2A;
  font-weight:bold;
}

.baselayer-button span{
  position: relative;
  display: block;
  bottom: -15px;
}

#del-info{
  margin-left: 15%;
  color: white;
  //margin-top:10px;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
  overflow-x: auto;
  padding:0;
  #socialMedia{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #shareLink{
    margin-top:10px;
  }
}
.menuInfoOpen{
  height:100px !important;
}
#avstand-info{
  margin-left: 15%;
  color: white;
  //margin-top:10px;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
  overflow-x: auto;
  padding:0;
}

#print-info{
  margin-left: 15%;
  color: white;
  //margin-top:10px;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
  overflow-x: auto;
  padding:0;
}

#draw-info{
  margin-left: 15%;
  color: white;
  //margin-top:10px;
  height: 0;
  overflow-y: hidden;
  transition: 0.5s;
  overflow-x: auto;
  padding:0;
}
.normal{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal_transp_bw.png");
}
.normal:hover, .normal.selected{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal.png");
}
.aerial{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial_transp_bw.png");
}
.aerial:hover, .aerial.selected{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial.png");
}
.hybrid{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid_transp_bw.png");
}
.hybrid:hover, .hybrid.selected{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid.png");
}
.threeD{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D_HC_transp_bw.png");
}
.threeD:hover, .threeD.selected{
  background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D.png");
}

.show-menu ul li{
  border-bottom: 1px solid rgb(86, 82, 82);
}


#main-menu{
  width: 48px;
  height:48px;
  background-color: transparent;
  background-image:url("http://www.norkart.no/content/themes/norkart/assets/images/generated/svg-sprites-b886bbd5.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  cursor: pointer;
  border:0 none;
  border-radius: 0;
  position: absolute;
}

#kommunekart-menu, #sprite-chevron-down, .list-button{
  border-radius: 0;
  background-position: 8px 12px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 0 none;
}
#kommunekart-menu{
  height: 47px;
  cursor:pointer;
  margin-top:0px;
  vertical-align:middle;
  padding:0;
  float:left;
}
#sprite-chevron-down{
  background-color: transparent;
  color: white;
  cursor:pointer;
  margin:0px;
  vertical-align:middle;
  padding:0;
  width:250px;
  height:47px;
  h4{
   margin-top: 16px;
}
}

.logo{
  background-image: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
  width: 36px;
  height:40px;
  background-size: auto 30px;
  background-position: 5px;
  background-repeat: no-repeat;
  float:left;
}
input.choose-kommune{
  width:160px;
  float:left;
}

.pointer{
  background-size: 24px;
  background-position: 8px 8px;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  float:left;
}
.pointer-down{
  background-image: url("https://kommunekart.com/Images/ikoner/nk_004-ned-B-48px.png");
}

.pointer-up{
  background-image: url("https://kommunekart.com/Images/ikoner/nk_003-opp-B-48px.png");
}

#choose-kommune-text{
  width:160px;
  float:left;
  height: 40px;
}

.kommuneElement{
  border-bottom: #969696 solid 1px;
  width: 250px;
  display: flex;
}
#arrow img{
  width:25px;
}
#arrow{
  right:300px;
  position: absolute;
}
.kommuneElement img{
  width:11%;
  height:0%;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#kommuneList{
  z-index: 10;
  width: 260px;
  font: 13.3333px Arial;
  margin-top: 2px;
  background-color: rgb(51, 51, 51);
  color: white;
  transition: 0.5s;
  padding: 0;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
  height: 0;
  overflow-y: auto;
  div{
    display: flex;
  }
  li{
    display: inherit;
  }
  #layerList{
    padding:0;
    li{
      padding-left: 16px;
      height: auto;
      padding-top: 3px;
      padding-bottom: 3px;
      border-top: 1px solid grey;
      padding-top: 2px;
    }
  }
  .activeRasterElement{
    background-color: grey;
  }
}
.dropdownVisible{
  height: 100vh!important;
  position: fixed;
}
.arrow1{
  right:0;
  position: absolute;
}
.arrow1 img{
  padding-right: 0;
  width: 40%;
}

#search-container{
  margin-left:236px;
  height:40px;
  border-radius: 0px;
  vertical-align: middle;
  float:left;
}

$inputColor: white;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $inputColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:$inputColor;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:$inputColor;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:$inputColor;
}

.kommunekart-search-button{
  background-color: transparent;
  background-repeat: no-repeat;
  background-image:url("http://www.norkart.no/content/themes/norkart/assets/images/generated/svg-sprites-b886bbd5.svg");
  background-position: 0 100%;
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: block;
  width: 48px;
  height: 48px;
  left: -24px;
  top: 50%;
  margin-top: -40px;
}

.kommunekart-search-input{
  height: 40px;
  border:0px;
  padding:0px;
  width:240px;
  padding-left:5px;
  background-color: transparent;
  color: white;
}
