.show-menu ul li{
  border-bottom: 1px solid #565252;
}

#menu-selector{ //icons

  .tool-button-del{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_017-dele-A-48px.png");
  }
  .tool-button-avstand{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_027-maale-A-48px.png");
  }
  .tool-button-print{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_016-utskrift-A-48px.png");
  }
  .tool-button-draw{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_031-tegning-A-48px.png");
  }
  .tool-button-navigation{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_011-beregn_rute-A-48px.png");
  }
  .tool-button-hjelp{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_012-hjelp-A-48px.png");
  }
  .tool-button-om{
    background-image: url("https://kommunekart.com/Images/ikoner/nk_024-info-A-48px.png");
  }
}

.sidenavOpen{
  width:260px!important;
}

#menu-selector{ //styling of tool buttons
  list-style-type: none;
  background-color: rgba(33,34,34,0.72);
  margin-top: 42px;
  margin-left: -10px;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: auto;
  padding:0;

  .tool-button{
    background-size: 24px 24px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    color: white;
    background-position: 12px 12px;
    height:48px;
    padding-left:48px;
    width:260px;
    text-align: -webkit-match-parent;
    background-color: rgba(42, 42, 42, 0.71);
    background-repeat: no-repeat;
    border: 0 none;
  }

  .tool-button:hover{
    background-color:rgb(60, 60, 60) ;
  }
  .tool-button:active{
    background-color: rgb(115, 115, 115);
  }
  .selectedToolElement{
    opacity: 1;
  }
  .toolMenuOpen{
    height:100px !important;
  }
  .sideMenuToolDropdown{
    margin-left: 15%;
    color: white;
    //margin-top:10px;
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
    overflow-x: auto;
    padding:0;
  }
}

#menu-selector{ //tool info styling
  #del{
    #socialMedia{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    #shareLink{
      margin-top:10px;
    }
  }
  #avstand-info{
    .distance-container {
      position: absolute;
      top: 100px;
      left: 100px;
      z-index: 1;
    }

    .distance-container > * {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 11px;
      line-height: 18px;
      display: block;
      margin: 0;
      padding: 5px 10px;
      border-radius: 3px;
    }
  }

}

#kommunekart-menu{
  background-position: 8px 12px;
  height: 47px;
  cursor:pointer;
  margin-top:0px;
  vertical-align:middle;
  padding:0;
  float:left;
  button{
    border: 0 none;
    background-color: transparent;
    color: white;
    cursor:pointer;
    height:47px;
    h4{
      margin-top: 16px;
      width:160px;
      float:left;
      height: 40px;
    }
    .pointer{
      background-size: 24px;
      background-position: 8px 8px;
      width:40px;
      height:40px;
      background-repeat: no-repeat;
      float:left;
    }
    .pointer-down{
      background-image: url("https://kommunekart.com/Images/ikoner/nk_004-ned-B-48px.png");
    }

    .pointer-up{
      background-image: url("https://kommunekart.com/Images/ikoner/nk_003-opp-B-48px.png");
    }
  }

  #kommuneList{
    z-index: 10;
    width: 260px;
    font: 13.3333px Arial;
    margin-top: 2px;
    background-color: rgb(51, 51, 51);
    color: white;
    transition: 0.5s;
    padding: 0;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    height: 0;
    overflow-y: auto;
    div{
      display: flex;
    }
    li{
      display: inherit;
    }

    .kommuneElement{
      border-bottom: #969696 solid 1px;
      width: 250px;
      display: flex;
      img{
        width:11%;
        height:0%;
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }

    #layerList{
      padding:0;
      li{
        padding-left: 16px;
        height: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        border-top: 1px solid grey;
        padding-top: 2px;
      }
    }
    .activeRasterElement{
      background-color: grey;
    }

  }
  .dropdownVisible{
    height: 100vh!important;
    position: fixed;
  }
}

#norkartLogo{
  background: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat:no-repeat;
  margin-left: 96px;
  margin-top: 50px;
}

#baselayerselector{
  width: 260px;
  position: fixed;
  bottom: 0px;

  .baselayer-button{
    display: block;
    float: left;
    height: 60px;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid #858A90;
    background-size: calc(100% - 8px);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-color: rgba(42,42,42,0.44);
    color:white;
  }
  .baselayer-button:hover{
    background-color:rgb(60, 60, 60) ;
  }
  .baselayer-button.selected{
    background-color: #E8E8E8;
    color:#2A2A2A;
    font-weight:bold;
  }
  .baselayer-button span{
    position: relative;
    display: block;
    bottom: -15px;
  }

  //basemap selector
  .normal{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal_transp_bw.png");
  }
  .normal:hover, .normal.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal.png");
  }
  .aerial{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial_transp_bw.png");
  }
  .aerial:hover, .aerial.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial.png");
  }
  .hybrid{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid_transp_bw.png");
  }
  .hybrid:hover, .hybrid.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid.png");
  }
  .threeD{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D_HC_transp_bw.png");
  }
  .threeD:hover, .threeD.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D.png");
  }

}
