//color variables:
$sidemenuListColor: rgba(42, 42, 42, 0.00);
$sidemenuListHover: rgba(125, 125, 125, 0.20);

input[type="search"] {
  border: none;
  outline: none;
  color: white;
  background: none;
  z-index: 3;
  margin-top: 12px;
}

// input[type=search]::-webkit-search-cancel-button {
//   -webkit-appearance: none;
// }
//
// input[type="search"]::-webkit-search-cancel-button:after{ //does not work to change the colors, dont know why! if display:none it hides so correct syntax for getting the element
//   content: "X";
//   color: white;
//   width: 60px;
// }

input[type="submit"] {
  background: url("../images/whiteIcons/other/search.png");
  background-size: 22px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 34px;
  width: 24px;
  text-indent: -10000px;
  border: none;
  float: right;
  opacity: 0.8;
  transition: opacity .4s ease;
  margin-top: 7px;
  padding: 0px;
  margin-left: 0px;
  float: left;
}

input[type="submit"]:hover {
  opacity: 1;
}


.kommunekart-search{
  height:40px;
  margin-left:10px;
  // background-color: rgba(33, 34, 34, 0.721569);
  width:309px;
  top:10px;

  input[type="search"] {
    -webkit-transition: width 0.5s ease-in-out;
    width: 210px;
    float:left;
  }
  input[type="search"]::-webkit-search-cancel-button {
    background: white;
    width: 60px;
  }

  input[type="search"]:focus {//when clicked search button -expands!
    z-index: 1;
    padding-bottom: 5px;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }
}

.kommunekart-search.search-menu-closed{
  position: absolute;
  background-color: rgba(33,34,34,0.721569);
  #MainSearch{
    margin-left: 53px;
  }
}


.ctrl-slide-out{
  transition: 0.5s;
  margin-right: 253px!important;
}

.show-menu{
  height: 100vh;
  margin-top: -84px;
  ul li{
    // border-bottom: 1px solid #565252;
  }
  // overflow-y:auto;
}

#closeSidebar{
  border: none;
  background: transparent;
  background-image: url("../images/blackIcons/other/dblArrowRight.png");
  background-size: 20px, 20px;
  height: 21px;
  width: 16px;
  color: white;
  float: right;
  margin-right: 10px;
}

#kommunekartMeny{
  // border-bottom: none;
}
//Generat classes used different places in side menu
.pointer{
  background-size: 24px;
  background-position: 8px 8px;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  float:left;
}
.pointer-down{
  background-image: url("../images/blackIcons/other/arrowDown.png");
}
.pointer-up{
  background-image: url("../images/blackIcons/other/up.png");
}
.pointer-right{
  background-image: url("../images/blackIcons/other/arrowRight.png");
}
.pointer-side{
}
.hide{
  display: none;
}


#menu-selector{ //icons

  .tool-button-del{
    background-image: url("../images/blackIcons/menu/share.png");
  }
  .tool-button-avstand{
    background-image: url("../images/blackIcons/menu/measure.png");
  }
  .tool-button-print{
    background-image: url("../images/blackIcons/menu/print.png");
  }
  .tool-button-draw{
    background-image: url("../images/blackIcons/menu/draw.png");
  }
  .tool-button-navigation{
    background-image: url("../images/blackIcons/menu/navigation.png");
  }
  .tool-button-hjelp{
    background-image: url("../images/blackIcons/menu/help.png");
  }
  .tool-button-om{
    background-image: url("../images/blackIcons/menu/about.png");
  }
}

#menu-selector{
  #kommunekartHeader{
    #logo{
      background-image: url("../images/norkartSymbol.svg");
      margin: 6px;
      margin-left: 10px;
      height: 48px;
      width: 29px;
      float: left;
    }
    #headerTxt{
      font-size: 19px;
      font-weight: bold;
      font-family: inherit;
      color: #3F3F3F;
      margin-left: 10px;
      margin-top: 18px;
      float: left;
    }
    height:60px;
    background-color: rgba(255, 255,255, 0.75);
    width:100%;
    z-index: 99;
    -webkit-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.4);
  }
}

.sidenavOpen{
  // width:260px!important;
  width:250px!important;
}

.mainButton:hover{
  cursor:pointer;

}

.mainButton{ //Velg kommune & verktøy buttons
  border: 0 none;
  border-bottom:solid 1px rgba(118, 118, 118, 0.5);
  // border-top:solid 1px rgba(118, 118, 118, 0.5);
  width: 100%;
  background-color:rgba(239, 239, 239, 0.22);
  color: #3F3F3F;
  height:47px;
  // font-family: calibri;
  position: relative;
  h4{
    margin-top: 12px;
    width:auto;
    float:left;
    display: flex;
    margin-left: 5px;
    font-size:17px;
    font-weight: 600;
  }
  .pointer{
    position: absolute;
    right: 0;
  }
}

.darkerColor{
  background-color: rgba(44, 45, 45, 0.94)!important;
}

// #menusDiv{
//   overflow-y: auto;
//   overflow-x: hidden;
// }
#menu-selector{ //styling of tool buttons
  list-style-type: none;
  background-color: rgba(235,235,235,0.76); //backgorund of whole sidemenu!
  box-shadow:0px 1px 9px grey;
  margin-top: 38px;
  margin-left: -10px;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  // transition: 0.5s;
  transition: 0.5s;
  // overflow-y: auto;
  overflow-y: hidden;
  // overflow-y: scroll;
  padding:0;

  #toolList{
    background-color: $sidemenuListColor;
    // transition: 0.5s;
    transition: max-height 0.5s;
    margin-top: -2px;
    li:hover{
      background-color: $sidemenuListHover;
      cursor:pointer;
    }
  }

  .selectedToolElement{
    opacity: 1;
  }
  .toolMenuOpen{
    height:75px !important;
  }
  .sideMenuToolDropdown{
    color: white;
    height: 0;
    overflow-y: hidden;
    // transition: 0.5s;
    transition: max-height 0.5s;
    overflow-x: auto;
    padding:0;
  }
  .toolListHidden{ //not in use, didnt work:(
    height: 0!important;
  }
  #tool-button-avstand.toolChosen{
    background-color: rgba(117, 117, 117, 0.58);
  }
}

#menu-selector{ //tool info styling
  #del-info{
    padding:0 8%;
    background-color: rgba(125, 125, 125, 0.20);
    #socialMedia{
      margin-left:3px;
      margin-bottom: 5px;
    }
    #shareLink{
      width:98%;
      margin-top:10px;
      margin-bottom:10px;
    }
    .smSymbol{
      width:30px;
      border-radius: 25px;
      margin-left: 26px;
      cursor: pointer;
    }
  }
  #avstand-info{
    .distance-container {
      position: absolute;
      top: 100px;
      left: 100px;
      z-index: 1;
    }
  }

  .distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
  }
}
#navigation-info{
  margin-left: 10px;
  .kommunekart-search{
    margin-top: 10px;
  }
  .kommunekart-search-input {
    width: 85.6%;
    margin: 0;
    color: #2E2D30;
    border: none !important;
    height: 30px !important;
    float: left;
    padding: 0 !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background: rgba(255,255,255,.7);
}
  .kommunekart-switch-nav {
    height:24px;
    width: 24px;
    background: none;
    border:none;
    position: relative;
    float: right;
    top: 18px;
    right: 10px;
    margin-bottom: -48px;
  }
  .kommunekart-switch-nav:hover{
    background: rgba(255,255,255,0.7);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
  }
  .kommunekart-switch-nav:active{
    background: white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
  }
  .switch-direction-icon{
    background-image: url('../images/mapNavigation/changeDirection.png')!important;
  }
  ::-webkit-input-placeholder {
     color: black;
     font-weight: bold;
     padding-left: 10px;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;
     font-weight: bold;
     padding-left: 10px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;
     font-weight: bold;
     padding-left: 10px;
  }

  :-ms-input-placeholder {
     color: black;
     font-weight: bold;
     padding-left: 10px;
  }

   .btnNavigation{
     width:10%;
     float:right;
     margin-right: 10px;
     height:30px;
     background: rgba(255,255,255,0.7);
     border:none;
   }

  .btnSearch{
    background-image: url("../images/search2.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
  }
  .icon-remove{
    background-image: url("../images/cross2.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
  }

}

.scrollPadding{ //make the scroll not cover content of sideMenu
  padding-right: 17px!important;
}
.removeOverflow{
  overflow-y: hidden!important;
}

#kommunekart-menu{
  transition: 0.5s;
  .kommuneDropdownVisible{
    border-bottom:solid 1px rgba(118, 118, 118, 0.5);
  }
  #chosenKommune{
    cursor: pointer;
    height: 47px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(118,118,118,0.5);
    padding-left:10px;
    color:#3f3e3e;
    h4{
      margin-top:10px;
      float:left;
    }
    img{
      float:left;
    }
  }
  .sideMenuLists{
    z-index: 10;
    width: 260px;
    font: 13.3333px Arial;
    margin-top: 2px;
    // background-color: rgba(89, 87, 87, 0.68);
    color: #3f3f3f;
    padding: 0;
    // box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    overflow-y: auto;
    transition: 0.5s;
  }

  #layerList{ //raster layer for each kommune
    //height: 100vh;
    max-height: 300px;
    overflow-y: scroll;
    height: auto;
    //position: absolute;
    padding:0;
    background-color: $sidemenuListColor;
    li{
      transition: 0.5s;
      border-bottom: rgba(101, 99, 99, 0.27) solid 1px;
      height: 23px!important;
      padding-left: 16px;
      height: auto;
      padding-top: 11px;
    }
    // li:hover{
    //   background-color: $sidemenuListHover;
    //   cursor:pointer;
    //
    // }
    .activeRasterElement{
      cursor:pointer;
    }
    .rasterListElement{
      cursor:pointer;
    }
    span{
      float:left;
    }
    button.check{
      float:right;
      margin-top:0px;
      margin-right:10px;
    }
    .rasterListElement:hover button.check{
      background-image: url("../images/checkbox-black.png");
      background-size: 22px;
    }
    .activeRasterElement:hover button.checked{
      background-image: url("../images/checkbox-checked-black.png");
      background-size: 22px;
    }
    #advarsel{
      padding: 0;
      float: right;
      margin-right: 20px;
      width:16px;
      height: 16px;
    }
    .smblLegend{
      padding: 0;
      float: right;
      margin-right: 20px;
      margin-top: -2px;
      width: 24px;
      // background-image:url("../images/legend.png");
    }

    h4{
      margin-bottom: 1px;
      margin-left: 7px;
      font-size: 1.1em;
      color: #3f3e3e;;
    }
  }
  .raster.sideMenuLists.kommuneDropdownVisible{
    max-height: 470px !important;
  }

  img{
    width:22px; //19%
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left; //for when set in header
  }

  #kommuneList{
    margin-top: -5px;
    // padding-top: 45px; //give room for search input
    height: 0;
    max-height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: $sidemenuListColor;
    .kommuneElement{
      padding-left:60px;
      // border-bottom: rgba(150, 150, 150, 0.4) solid 1px;
      width: 250px;
      display: flex;
      img{
        display: flex;
        height:30px;
      }
      div{
        display: flex;
      }
    }
    #kommuneSearchDiv{
      margin-left:26px;
      width: 75%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.38);
      position: relative;
      height: 36px;
      margin-bottom: 10px;
      // background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));

      input{
        color:#3F3F3F;
        float:left;
      }

      input[type="submit"] {
        background: url("../images/blackIcons/other/search.png");
        background-size: 22px;
        background-repeat: no-repeat;
        cursor: pointer;
        height: 34px;
        width: 24px;
        text-indent: -10000px;
        border: none;
        float: left;
        opacity: 0.8;
        transition: opacity .4s ease;
        margin-top: 7px;
        padding: 0px;
        margin-left: 0px;
        float: left;
      }
      ::-webkit-input-placeholder {
         color: #3F3F3F;
         font-weight: bold;
         padding-left: 10px;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: #3F3F3F;
         font-weight: bold;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: #3F3F3F;
         font-weight: bold;
         padding-left: 10px;
      }

      :-ms-input-placeholder {
         color: #3F3F3F;
         font-weight: bold;
         padding-left: 10px;
      }
      input[type="search"] {
        border: none;
        outline: none;
        color: #3F3F3F;
        background: none;
        z-index: 3;
        margin-top: 12px;
    }

    }
    .list{
      height: 100vh;
      padding:0;
      overflow-y: scroll;
      li:hover{
        background-color: $sidemenuListHover;
        cursor:pointer;

      }
    }
  }

  #backToKommuneList{
    border: none;
    position: relative;
    background-color: transparent;
    background-image: url("../Images/blackIcons/other/arrowLeft.png");
    background-repeat: no-repeat;
    margin-top: 6px;
    width: 26px;
    margin-left: -5px;
    margin-right: 5px;
    background-size: 10px;
  }

  .kommuneDropdownVisible{
    height: 100% !important;
    max-height: 1000px!important;
    // height: 100vh !important;
    transition: max-height 0.5s;
  }
  .dropdownVisible{
    //height: 60%!important;
    height: auto!important;
    transition: max-height 0.5s;
    //position: fixed;
    //margin-bottom: 60%;
  }
  .dropdownHide{
    height: 0!important;
    max-height: 0!important;
  }
}
.kommuneDropdownVisibleShowBaselayers{
  display: block;
  position: fixed;
  background-color: #5d5959;
  bottom: 40px;
  width: 12.8%;
}
.kommuneDropdownVisibleShowVectorLayers{
  display: block;
  position: fixed;
  background-color: #5d5959;
  bottom: 0px;
  width: 12.8%;
}
#searchAndphto{
  background-color: rgba(54,53,53,0.87);
}

#norkartLogo{
  // background: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat:no-repeat;
  margin-left: 96px;
  margin-top: 50px;
  border-bottom: none;
}

#baselayerselector{
  margin-bottom: 12px;
  border-bottom: none;
  height: 52px;
  margin-left: 20px;

  .baselayer-button{
    margin-top: 7px;
    position: static;
    float: left;
    background-color: transparent;
    // width: 24.33%;
    border: none;
    color:rgba(231, 231, 231, 0.74);

    img{
      margin-top: 5px;
      height: 41px;
      width:47px;
      border-radius:7%;
    }
    h4{
      text-shadow: #363636 2px 2px 6px;
      margin-top: -31px;
      // position: absolute;
    }
  }
  .baselayer-button:hover{
    // background-color:rgb(60, 60, 60) ;
    cursor: pointer;
  }
  .baselayer-button.selected{
    // background-color: #E8E8E8;
    font-weight:bold;
    color: white;
  }

  //basemap selector
  .normal img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_normal_transp_bw.png");
  }
  .normal:hover img, .normal.selected img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_normal.png");
  }
  .aerial img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial_transp_bw.png");
  }
  .aerial:hover img, .aerial.selected img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial.png");
  }
  .hybrid img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid_transp_bw.png");
  }
  .hybrid:hover img, .hybrid.selected img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid.png");
  }
  .threeD img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_3D_HC_transp_bw.png");
  }
  .threeD:hover img, .threeD.selected img{
    content:  url("https://kommunekart.com/Images/bg_layer_thumb_3D.png");
  }

}
.baselayersHidden{
  display: none;
}

#vectorLayers{
  color: white;
  padding-top: 4px;
  height: 34px;
  margin-left: 10px;
  label{
    // padding-left: 10px;
    padding-left: 6px;
  }
}

.tools{
  margin-top: 2px;
  input{
    position: relative;
  }
}


//buttons for showing center and the whole kommune
#navControllers{
  margin-right: 37px;
  top: 13px;
  position: relative;
  #showCenter, #showKommune{
    background-size: 17px;
    background-repeat: no-repeat;
    width: 20px;
    height: 24px;
    float: right;
    cursor:pointer;
  }
  #showKommune{
    background-image: url("../Images/blackIcons/other/polygon.png");
  }
  #showCenter{
    background-image: url("../Images/blackIcons/other/position.png");
  }
}

//Tegnforklaring:
#tegnForklaring{
  padding-top: 10px;
  background-color: #DBDEDA;
  width: 300px;
  height: auto;
  margin-left: 260px;
  margin-top: 300px;
  position: absolute;
  box-shadow: 0px 1px 9px grey;
  background-repeat: no-repeat;
  border: 1px solid #272828;
  display: none;
  max-height: 470px;
  overflow-y: auto;
  opacity: 0.95;
}

// #legendImgDiv{
//   margin-top:10px;
// }
