body{
  height: 100%;
}
.show-menu ul li{
  border-bottom: 1px solid #565252;
}
//Generat classes used different places in side menu
.pointer{
  background-size: 24px;
  background-position: 8px 8px;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  float:left;
}
.pointer-down{
  background-image: url("../images/down.png");
}

.pointer-right{
  background-image: url("../images/hoyrepil.png");
}
.pointer-side{
}
.hide{
  display: none;
}


#menu-selector{ //icons

  .tool-button-del{
    background-image: url("../images/MenuIcons/share.png");
  }
  .tool-button-avstand{
    background-image: url("../images/MenuIcons/measure.png");
  }
  .tool-button-print{
    background-image: url("../images/MenuIcons/print.png");
  }
  .tool-button-draw{
    background-image: url("../images/MenuIcons/draw.png");
  }
  .tool-button-navigation{
    background-image: url("../images/MenuIcons/navigation.png");
  }
  .tool-button-hjelp{
    background-image: url("../images/MenuIcons/help.png");
  }
  .tool-button-om{
    background-image: url("../images/MenuIcons/info.png");
  }
}

.sidenavOpen{
  width:260px!important;
}


#menu-selector{ //styling of tool buttons
  list-style-type: none;
  background-color: rgba(33,34,34,0.72);
  margin-top: 42px;
  margin-left: -10px;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: auto;
  padding:0;


  #toolHeader{
    color: white;
    margin-top: 45px;
    display: flex;
    h4{
      font-weight: bold;
      font:13.3333px Arial;
      margin:0;
      padding-left: 17px;
      margin-bottom: 10px;
      padding-top: 10px;
    }
  }
  #toolList{
    transition: 0.5s;
  }


  .tool-button{
    background-size: 24px 24px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    color: white;
    background-position: 12px 12px;
    height:48px;
    padding-left:48px;
    width:260px;
    text-align: -webkit-match-parent;
    background-color: rgba(42, 42, 42, 0.71);
    background-repeat: no-repeat;
    border: 0 none;
  }

  .tool-button:hover{
    background-color:rgb(60, 60, 60) ;
  }
  .tool-button:active{
    background-color: rgb(115, 115, 115);
  }
  .selectedToolElement{
    opacity: 1;
  }
  .toolMenuOpen{
    height:120px !important;
  }
  .sideMenuToolDropdown{
    color: white;
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
    overflow-x: auto;
    padding:0;
  }
  .toolListHidden{ //not in use, didnt work:(
    height: 0!important;
  }
}

#menu-selector{ //tool info styling
  #del-info{
    margin:0 8%;
    #socialMedia{
      margin-left:3px;
      margin-bottom: 5px;
    }
    #shareLink{
      width:98%;
      margin-top:10px;
      margin-bottom:10px;
    }
    .smSymbol{
      width:50px;
      border-radius: 25px;
      margin-left: 10px;
    }
  }
  #avstand-info{
    .distance-container {
      position: absolute;
      top: 100px;
      left: 100px;
      z-index: 1;
    }
  }

  .distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
  }
}
#navigation-info{
  margin-left: 0px;
  .kommunekart-search-input {
    width: 90%;
    margin: 0;
    color: #2E2D30;
    border: none !important;
    height: 30px !important;
    float: left;
    padding: 0 !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background: rgba(255,255,255,.7);
}
  .kommunekart-switch-nav {
    height:24px;
    width: 24px;
    background: none;
    border:none;
    position: relative;
    float: right;
    top: 34px;
    right: 10px;
    margin-bottom: -48px;
  }
  .kommunekart-switch-nav:hover{
    background: rgba(255,255,255,0.7);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
  }
  .kommunekart-switch-nav:active{
    background: white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
  }
  .switch-direction-icon{
    background-image: url('../images/mapNavigation/changeDirection.png')!important;
  }
  ::-webkit-input-placeholder {
     color: black;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;
  }

  :-ms-input-placeholder {
     color: black;
  }

  
}

.scrollPadding{ //make the scroll not cover content of sideMenu
  padding-right: 17px!important;
}
.removeOverflow{
  overflow-y: hidden!important;
}

#kommunekart-menu{
  transition: 0.5s;
  background-position: 8px 12px;
  cursor:pointer;
  margin-top:0px;
  vertical-align:middle;
  padding:0;
  float:left;
  button{
    border: 0 none;
    background-color: transparent;
    color: white;
    cursor:pointer;
    height:47px;
    position: relative;
    h4{
      margin-top: 12px;
      width:100px;
      float:left;
      //height: 40px;
      display: flex;
      margin-left: 20px;
    }
  }

  .sideMenuLists{
    z-index: 10;
    width: 260px;
    font: 13.3333px Arial;
    transition: 0.5s;
    margin-top: 2px;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 0;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    overflow-y: auto;
  }

  #layerList{ //raster layer for each kommune
    //height: 100vh;
    height: auto;
    //position: absolute;
    padding:0;
    li{
      border-bottom: #656363 solid 1px;
      height: 23px!important;
      padding-left: 16px;
      height: auto;
      padding-top: 11px;
    }
    .activeRasterElement{
      background-color: grey;
    }
  }
  img{
    width:24px; //19%
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left; //for when set in header
  }

  #kommuneList{
    margin-top: -5px;
    height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    div{
      //display: flex;
    }
    li{
      //display: inherit;
    }
    .kommuneElement{
      border-bottom: #969696 solid 1px;
      width: 250px;
      display: flex;
      img{
        height:0%;
      }
      div{
        display: flex;
      }
    }
  }

  #backToKommuneList{
    float:left;
  }

  .kommuneDropdownVisible{
    height: 100vh !important;
    transition: 0.5s;
  }
  .dropdownVisible{
    //height: 60%!important;
    height: auto!important;
    transition: 0.5s;
    //position: fixed;
    //margin-bottom: 60%;
  }
  .dropdownHide{
    height: 0!important;
  }
}
.kommuneDropdownVisibleShowBaselayers{
  display: block;
  position: fixed;
  background-color: #5d5959;
  bottom: 0px;
  width: 12.68%;
}

#norkartLogo{
  background: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat:no-repeat;
  margin-left: 96px;
  margin-top: 50px;
}

#baselayerselector{
  width: inherit;
  display: inline-table;

  .baselayer-button{
    display: block;
    float: left;
    height: 60px;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid #858A90;
    background-size: calc(100% - 8px);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-color: rgba(42,42,42,0.44);
    color:white;
  }
  .baselayer-button:hover{
    background-color:rgb(60, 60, 60) ;
  }
  .baselayer-button.selected{
    background-color: #E8E8E8;
    color:#2A2A2A;
    font-weight:bold;
  }
  .baselayer-button span {
    position: relative;
    display: block;
    bottom: -15px;
  }

  //basemap selector
  .normal{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal_transp_bw.png");
  }
  .normal:hover, .normal.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_normal.png");
  }
  .aerial{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial_transp_bw.png");
  }
  .aerial:hover, .aerial.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_aerial.png");
  }
  .hybrid{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid_transp_bw.png");
  }
  .hybrid:hover, .hybrid.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_hybrid.png");
  }
  .threeD{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D_HC_transp_bw.png");
  }
  .threeD:hover, .threeD.selected{
    background-image:  url("https://kommunekart.com/Images/bg_layer_thumb_3D.png");
  }

}
.baselayersHidden{
  display: none;
}

#vectorLayers{
  color: white;
  margin-left: 10px;
}
