#navbar-top{
  position: fixed;
  //background-color: rgba(62, 62, 62, 0.8);
  padding: 0;
  width: 100vw;
  background-image: linear-gradient(90deg, rgba(11, 17, 21, 0.77) 30%, rgba(53,54,55,0.83) 93%);
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.50);
}

#side-menu-toggle{
  width:40px;
  height:40px;
  float:left;
  margin-left:10px;
  #side-menu-toggle-button{ //button for toggle
    width: 48px;
    height:48px;
    background-color: transparent;
    background-image:url("http://www.norkart.no/content/themes/norkart/assets/images/generated/svg-sprites-b886bbd5.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    cursor: pointer;
    border:0 none;
    border-radius: 0;
    position: absolute;
  }
}

#search-container{
  margin-left:236px;
  height:40px;
  border-radius: 0px;
  vertical-align: middle;
  float:left;
  .kommunekart-search{
    button{
      background-color: transparent;
      background-repeat: no-repeat;
      background-image:url("../images/search2.png");
      background-position: 0 100%;
      color: white;
      border: none;
      position: relative;
      cursor: pointer;
      vertical-align: middle;
      display: block;
      width: 24px;
      height: 24px;
      left: -30px;
      margin-top: -30px;

    }
    input{
      height: 40px;
      border:0px;
      padding:0px;
      width:240px;
      padding-left:5px;
      background-color: transparent;
      color: white;
    }
  }
}

#kommuneTopHeader{
  // display: flex;
  position: absolute;
  display: -webkit-inline-box;
  img{
    height: 20px;
    padding-top: 13px;
    padding-left: 5px;

  }
  h4{
    padding-top: 15px;
    padding-left: 5px;
    color: white;
    margin: 0;
  }
}


#kommunekart-header{
  h3{
    font-weight: 700;
    color:white;
    margin:10px;
    float:left;
  }
  .logo{
    background-image: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
    width: 36px;
    height:40px;
    background-size: auto 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    float:left;
  }
  float:right;
  width:220px;
}
