#navbar-top{
  position: fixed;
  //background-color: rgba(62, 62, 62, 0.8);
  padding: 0;
  // width: 100vw;
  width: 260;
  // background-image: linear-gradient(90deg, rgba(11, 17, 21, 0.77) 30%, rgba(53,54,55,0.83) 93%);
  // box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.50);
}

#navbar-top{
  // #searchToggle{ // when side-menu closed
  .searchToggle-open{
    // background-color: transparent!important;
    margin-left: 5px!important;
    transition: 0.5s;
    width: 247px!important;
    // margin-top: 24px;
    #MainSearch{
      margin-left: 2px !important;
    }
  }
}
.open{
  #side-menu-toggle-button{
    visibility: hidden;
  }
}

#side-menu-toggle{
  padding-left: 10px;

  #side-menu-toggle-button{ //button for toggle
    top: 6px;
    z-index: 20;
    margin-left: 7px;
    position: relative;
    width: 29px;
    height:39px;
    background-color:transparent;
    background-image:url("http://www.norkart.no/content/themes/norkart/assets/images/generated/svg-sprites-b886bbd5.svg");
    background-repeat: no-repeat;
    background-position: 64% 0;
    cursor: pointer;
    border:0 none;
  }
  .burger-icon-close{
    // margin-left: -10px!important;
  }
}

#search-container{
  margin-left:236px;
  height:40px;
  border-radius: 0px;
  vertical-align: middle;
  float:left;
  .kommunekart-search{
    button{
      background-color: transparent;
      background-repeat: no-repeat;
      background-image:url("../images/search2.png");
      background-position: 0 100%;
      color: white;
      border: none;
      position: relative;
      cursor: pointer;
      vertical-align: middle;
      display: block;
      width: 24px;
      height: 24px;
      left: -30px;
      margin-top: -30px;

    }
    input{
      height: 40px;
      border:0px;
      padding:0px;
      width:240px;
      padding-left:5px;
      background-color: transparent;
      color: white;
    }
  }
}

#kommuneTopHeader{
  // display: flex;
  top: 10px;
  background-color: rgba(33,34,34,0.721569);
  height: 40px;
  width: auto;
  padding-right: 21px;
  padding-left: 10px;
  left: 326px;
  position: absolute;
  display: -webkit-inline-box;
  cursor:pointer;
  img{
    height: 26px;
    padding-top: 8px;
    padding-left: 5px;

  }
  h4{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    margin: 0;
  }
}


#kommunekart-header{
  h3{
    font-weight: 700;
    color:white;
    margin:10px;
    float:left;
  }
  .logo{
    background-image: url("http://www.norkart.no/content/themes/norkart/assets/images/ident-symbol.svg");
    width: 36px;
    height:40px;
    background-size: auto 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    float:left;
  }
  float:right;
  width:220px;
}
